[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
[submodule "themes/nuo"]
	path = themes/nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "public"]
	path = public
	url = git@github.com:ripbandit/ripbandit.github.io.git
	branch = master
